@import "variables";
.main-container {
  @media (max-width: 767px) {
    position: relative;
    margin-bottom: 80px;
  }
  div[class*="col-"] {
    padding: 0;
  }
}
.main-h2 {
  color: white;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 31% 0 30px 0;

  @media (max-width: 767px) {
    font-size: 7vw;
    margin-top: 3rem;
  }
}
.p-main {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: #eee;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif !important;
}
.p-main-sec {
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-size: 80%;
  margin-bottom: 12rem;
  @media (max-width: 767px) {
    margin-bottom: 4rem;
  }
}
.main-section-right {
  text-align: right;
  position: relative;
}
img.main-img-1 {
  width: 360px;
  position: absolute;
  bottom: 1rem;
  left: 2%;
  z-index: 1;
  @media (max-width: 767px) {
    bottom: 0;
    left: -20%;
  }
}
img.main-img-2 {
  width: 330px;
  z-index: 1;
  right: 30%;
  margin-top: 4rem;
  position: relative;
  transform: perspective(1400px) rotateY(-20deg) rotateX(10deg) rotateZ(6deg)
    scale(0.8) translateX(50%) translateY(6%);
  transition: transform 0.45s cubic-bezier(0.2, 0.7, 0.3, 1);

  &:hover {
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg)
      rotateZ(0deg) scale(0.95) translateX(40%) translateY(8%);
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
      scale(0.95) translateX(40%) translateY(8%);
  }
  @media (max-width: 767px) {
    transform: none !important;
    width: 280px;
    margin: 0rem 0 0rem;
  }
}
