@import "variables";
.version-left {
  text-align: center;
  img {
    width: 100%;
  }
}
.version-right {
  .icon {
    color: $blue;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: #333;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 1.5rem;
  }

  p {
    line-height: 1.8;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .version {
    z-index: 1;
    left: 0;
    line-height: 20px;
    text-transform: uppercase;
    color: #222;
    font-size: 17px;
    font-weight: 700;
    top: -30px;
  }
  .progress {
    list-style: none;
    margin: 0.5rem 0 3rem;
    width: 60%;
    height: 12px;
    background-color: $blue;
    position: relative;
    border-radius: 10px;
    overflow: visible;
  }

  .skills {
    margin-top: 38px;
    height: 12px;
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0.5rem 0 3rem;
  }

  .progress-percent {
    border-radius: 10px;
    background-color: #333;
    position: absolute;
    height: auto;
    z-index: 2;
    font-size: 17px;
    line-height: 16px;
    text-shadow: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    top: -38px;
    right: -60px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
  }
  .progress-percent .counter {
    font-weight: 400;
    font-family: Lato, sans-serif;
    &::after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #333;
      border-width: 4px;
      left: 50%;
      margin-left: -4px;
    }
  }
  .btn.btn-version-more {
    color: white;
    background: $blue;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.3rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    transition: transform 0.5s cubic-bezier(0.2, 0.7, 0.3, 1);

    svg {
      margin-left: 10px;
      font-size: 14px !important;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
