@import "variables";
.clients-row {
  width: 100%;
  left: 0;
  padding: 3rem 0;
  @media (max-width: 767px) {
    z-index: 10;
  }
}

.client-icon {
  display: inline-block;
  width: 24%;
  @media (max-width: 767px) {
  }
  img.icon {
    max-width: 100%;
    width: 100px;
  }
}
