@import "variables";
.feature-icon {
  margin-bottom: 22px;
  height: 46px;

  svg {
    font-size: 2.5rem !important;
  }
}
.feature-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #444;
}
.feature-desc {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
}
