@import "variables";

.navbar {
  background-color: transparent;
  justify-content: flex-end;
  padding: 0;
}
.navbar-toggler {
  padding: 0;
  position: absolute;
  top: -4rem;
  :focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset !important;
  }
}

.navbar-toggler-icon {
  color: white;
  outline: none;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 0 !important;
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

a.nav-link {
  padding: 0 !important;
}

@media (min-width: 992px) {
  .nav-item {
    padding: 39px 15px;
  }
}
.dropdown-toggle::after {
  display: none;
}
.dropdown {
  .dropdown-toggle svg {
    margin-left: 8px;
    font-size: 10px;
  }
  .dropdown-menu {
    display: none;
    opacity: 0;
    margin-top: 0.8rem;
    transition: opacity 0.3s ease-in, margin-top 0.3s ease-in;
  }
  &:hover {
    .dropdown-menu {
      display: block;
      opacity: 1;
      margin-top: 0;
    }
  }

  @media (max-width: 991px) {
    .dropdown-menu {
      background-color: #333;
      margin-top: 0 !important;

      .dropdown-item {
        padding: 14px 5px;
        border-bottom: 1px solid #ffffff2e;
        &:last-child {
          border: none;
        }
      }
      a {
        color: white;
      }
    }
    &:hover {
      .dropdown-menu {
        position: absolute;
        display: block;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 991px) {
  .nav-item {
    padding: 14px 5px;
    border-bottom: 1px solid #ffffff2e;

    &:last-child {
      border: none;
    }
  }
}
.dropdown-menu {
  width: 220px;
  padding: 10px 10px;
  border-radius: 0 0 0.25rem 0.25rem;
}
.dropdown-item {
  font-size: 15px;
  font-weight: 600;
  background-color: transparent !important;
  color: #666;
  padding: 10px 15px;
  transition: transform 0.3s ease;
  &:hover,
  &:focus {
    color: $blue;
    transform: translateX(5px);
  }
  svg {
    color: $blue;
    margin-right: 7px;
  }
}
