@import "variables";

.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  justify-content: center;
  display: flex;

  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      width: 100%;
      padding: 0 30px;
    }
  }
  @media (max-width: 991px) {
    background-color: #333;
  }
}
