h1,
h2,
h3,
h4,
h5,
h6,
#logo a,
.menu-link,
.mega-menu-style-2 .mega-menu-title > .menu-link,
.top-search-form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.tab-nav-lg li a,
.counter,
label,
.widget-filter-links li a,
.nav-tree li a,
.wedding-head,
.font-primary,
body {
  font-family: "Roboto", sans-serif !important;
}
body {
  color: #555;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}
.container-fluid {
  overflow: hidden;
}
.row {
  margin: 0;
}

.section-main {
  background-image: url(../shared/images/bg-1.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-clients {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-version {
  margin: 60px 0;
  padding: 60px 0;
}
.section-gallery {
  padding: 100px 0;
  background-color: rgba(61, 128, 228, 0.05);
}
