@import "variables";
.benefits-left {
  background-color: $blue;
  color: white;
  padding: 120px !important;
  @media (max-width: 991px) {
    padding: 60px !important;
  }
  h2 {
    color: #eee;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    line-height: 1.2;
  }
  p {
    margin-top: 0;
    line-height: 1.8;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1rem;

    &:last-child {
      margin: 0;
    }
  }
}
.benefits-right {
  background-image: url("../../../../shared/images/benefitsImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
