@import "variables";
.features-container {
  padding: 80px 0;
}
.features-heading.row {
  max-width: 640px;
  text-align: center;
  margin: 24px auto 0;
}
.features-p-1 {
  color: #9bb0bf;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.features-h2 {
  font-size: 52px;
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 1.5rem;
}
.features-p-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  margin-top: 0;
  padding: 15px;
  color: #555;

  &::after {
    content: "";
    display: block;
    margin: 3rem auto 0;
    width: 40px;
    border-top: 2px solid #444;
  }
}

.features-content {
  max-width: 1000px;
  margin: auto !important;

  .col-md-5 {
    padding: 1rem;
    margin-bottom: 3rem;

    @media (max-width: 676px) {
      padding: 2rem;
    }
  }

  .col-md-5:nth-child(1) {
    color: $blue;
  }
  .col-md-5:nth-child(2) {
    color: #dc3545;
  }
  .col-md-5:nth-child(3) {
    color: #ffc107;
  }
  .col-md-5:nth-child(4) {
    color: #17a2b8;
  }
}
