@import "variables";

footer {
  background-color: $blue;
  color: rgba(255, 255, 255, 0.4);
  padding: 3rem 0;
  font-size: 0.875rem;
  line-height: 1.8;
  font-family: "Source Sans Pro", sans-serif !important;
}
.copyright-links {
  span {
    margin: 0 5px;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.65);
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
  }
}
.btn.btn-footer-section {
  color: $blue;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
}
