@import "variables";

.gallery-heading {
  max-width: 640px;
  text-align: center;
  margin: 24px auto;
}
.gallery-p-1 {
  color: #9bb0bf;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.gallery-h2 {
  font-size: 52px;
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 1rem;
}
.gallery-p-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 15px;
  color: rgba(0, 0, 0, 0.5);

  &::after {
    content: "";
    display: block;
    margin: 2rem auto 0;
    width: 40px;
    border-top: 2px solid #444;
  }
}
img.device-img {
  position: absolute;
  width: 270px;
  z-index: 10;
}
.slider-img {
  width: 220px;
  height: auto;
  margin-top: 13px;
}
.alice-carousel__stage-item {
  text-align: center;
}
.alice-carousel__dots-item {
  background-color: $blue;
  opacity: 0.3;
  margin-top: 20px;
  margin-right: 10px;
  width: 20px;
  height: 5px;
  border-radius: 4px;
  transition: width 0.5s ease, opacity 0.5s ease;

  &.__active {
    background-color: $blue;
    opacity: 1;
    width: 50px;
  }
  &:hover {
    background-color: $blue;
    opacity: 1;
  }
}
