@import "variables";
.btn {
  color: #343a40;
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  transition: transform 0.5s cubic-bezier(0.2, 0.7, 0.3, 1);
  margin: 0.5rem 1rem 0 0;
  padding: 1rem 1.5rem;
  svg {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
